[MASTER]
disable=
  C0103, # invalid-name (false positive/can't do much about this)
  W0212, # protected-access (can't do much about this)
  R1723, # no-else-break (false positive)
  R1705, # no-else-return (false positive)
